<!-- 복붙한거임 -->

<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/index_style.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"/>
    <title>PangPang</title>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-PZZE856QMM"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-PZZE856QMM');
    </script>
    <script>      
      fetch('/navbar')
            .then(response => response.text())
            .then(data => {
                document.getElementById("content").innerHTML = data;
                // navbar.html이 로딩된 후에 버튼 상태를 확인하고 로그인/로그아웃 버튼을 제어하는 스크립트를 추가합니다.
                const token = sessionStorage.getItem('토큰');
                if (token) {
                    document.getElementById("logoutButton").style.display = "block";
                } else {
                    document.getElementById("logoutButton").style.display = "none";
                }
            })
            .catch(error => console.error('Error:', error));
    </script>
  </head>
  <body>
    <!-- 네비게이션바 -->
    <div id='content'></div>
    
    <!--빵 부스러기 (Breadcrumb)-->
    <main class="mt-3 pt-1">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
           
            <i class="bi bi-house-fill"> > 커뮤니티 > 장터 게시판 </i>
          </div> 
        </div>
      </div>
    </main>
    

    <!--사이드바 -->
    <div id="page-wrapper">
      <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
          <li class="sidebar-brand">
            <a href="/community" style="font-size: 1.5em;">커뮤니티</a>
          </li>
          <br>
          <li><a href="/community/daily">자유 게시판</a></li>
          <li><a href="/community/equipment">장비 게시판</a></li>
          <li><a href="/community/tip">꿀팁 게시판</a></li>
          <li><a href="/community/market" class="underline-on">장터 게시판</a></li>
          <li><a href="/community/promotion">홍보 게시판</a></li>
        </ul>
      </div>
      <hr class="my-4" style="height: 3px; background-color: #006f3e;">
      <!--게시글 리스트-->
    <div style="margin: 0 auto; width: 90%;">
      <div class="container-fluid  p-5"  >
        <h3 class="text-center mt-5 fw-bold ">장터 게시판</h3>
          <h6 class="text-center mt-3 ">자신이 가지고 있는 스포츠 용품을 사고 팔 수 있는 장터 게시판입니다.</h6>
          <div class="container-fluid p-5 me-5 mr-5list-container ">
            <div class="card mb-1 p-3"  style="border: 3px solid #006f3e;">
              <div class="card-header">
                <a class="btn btn-primary float-end" href="/community/write" style="background-color: #006f3e; color: white;"> 
                  <i class="fas fa-edit"></i> 글 작성
                </a>
              </div>
              <div class="card-body">
                <table class="table table-hover table-striped">
                  <thead>
                    <tr>
                    <th>번호</th>
                    <th>카테고리</th>
                    <th>제목</th>
                    <th>작성일</th>
                  </tr>
                </thead>
                <tbody id="communityTableBody">
                <!-- 여기에 게시글 목록이 추가됨 -->
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 페이지네이션 -->
  <div class="pagination justify-content-center mt-4" id="pagination">
    <!-- 여기에 페이지 버튼들이 추가  -->
  </div>
</div>
  <br/>
  <br/>
  <br/>
  

 
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  <script>
  const tbody = document.querySelector('tbody');
  const paginationDiv = document.getElementById('pagination');

  function fetchData(page) {
    // 매치 리스트 가져오기
    fetch('/community/list/market?page=${page}')
      .then(response => response.json())
        .then(data => {
          tbody.innerHTML = ''; // Clear the table

          data.boards.forEach((community, index) => {
            const row = document.createElement('tr');
            const formattedDate = new Date(community.createdAt).toLocaleDateString();
            row.innerHTML = `
              <td>${index + 1}</td>
              <td>${getCategoryInKorean(community.category)}</td>
              <td>${community.title}</td>
              <td>${formattedDate}</td>
            `;
            row.addEventListener('click', () => {
              // Redirect to the detailed view of the community
              window.location.href = `/community/read/${community._id}`;
            });
            tbody.appendChild(row);
          });

          createPaginationButtons(data.totalPages, data.currentPage);
        })
        .catch(error => console.error('Error:', error));
    }



  //페이지네이션
  const ITEMS_PER_PAGE = 10;

  function createPaginationButtons(totalPages, currentPage) {
    paginationDiv.innerHTML = ''; // 이전 버튼 초기화

    const prevButton = document.createElement('button');
    prevButton.innerHTML = `
      <span aria-hidden="true">&laquo;</span>
      <span class="visually-hidden">Previous</span>
    `;
    prevButton.classList.add('btn', 'btn-outline-secondary', 'me-2');
    prevButton.addEventListener('click', () => {
      if (currentPage > 1) {
        fetchData(currentPage - 1);
      }
    });
    paginationDiv.appendChild(prevButton);

    for (let i = 1; i <= totalPages; i++) {
      const pageButton = document.createElement('button');
      pageButton.innerText = i;
      pageButton.classList.add('btn', 'btn-outline-secondary', 'me-2');
      if (i === currentPage) {
        pageButton.classList.add('btn-custom');
      }
      pageButton.addEventListener('click', () => {
        fetchData(i);
      });
      paginationDiv.appendChild(pageButton);
    }

    const nextButton = document.createElement('button');
    nextButton.innerHTML = `
      <span aria-hidden="true">&raquo;</span>
      <span class="visually-hidden">Next</span>
    `;
    nextButton.classList.add('btn', 'btn-outline-secondary');
    nextButton.addEventListener('click', () => {
      if (currentPage < totalPages) {
        fetchData(currentPage + 1);
      }
    });
    paginationDiv.appendChild(nextButton);
  }
  // 
  function getCategoryInKorean(category) {
    switch(category) {
      case 'daily':
        return '자유게시판';
      case 'equipment':
        return '장비게시판';
      case 'tip':
        return '꿀팁게시판';
      case 'market':
        return '장터게시판';
      case 'promotion':
        return '홍보게시판';
      default:
        return category;
    }
  }


// 초기 데이터 로딩
fetchData(1);
//사이드바 높이 동적으로 조절
function setSidebarHeight() {
          const sidebar = document.getElementById('sidebar-wrapper');
          const windowHeight = window.innerHeight;
          const newHeight = windowHeight + 120; // 현재 창 높이에 500px 추가
          sidebar.style.height = newHeight + 'px';
        }

        window.addEventListener('DOMContentLoaded', setSidebarHeight);
        window.addEventListener('resize', setSidebarHeight);

</script>
</body>
</html>
    
    