<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/index_style.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" />
    <title>PangPang</title>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-PZZE856QMM"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-PZZE856QMM');
    </script>
    <style>
      .mypagecontent {
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        width: 600px;
        text-align: center;
        margin: auto;
      }
    </style>

    <script>      
      fetch('/navbar')
      .then(response => response.text())
      .then(data => {
        document.getElementById("content").innerHTML = data;
        // navbar.html이 로딩된 후에 버튼 상태를 확인하고 로그인/로그아웃 버튼을 제어하는 스크립트를 추가합니다.
        const token = sessionStorage.getItem('토큰');
        if (token) {
          document.getElementById("logoutButton").style.display = "block";
        } else {
          document.getElementById("logoutButton").style.display = "none";
        }
      })
      .catch(error => console.error('Error:', error));
    </script>
  </head>
  <body>
    <!-- 네비게이션바 -->
    <div id='content'></div>

    <!--빵 부스러기 (Breadcrumb)-->
    <main class="mt-3 pt-1">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">           
            <i class="bi bi-house-fill"> > 마이페이지 > 내 매치글 보기</i>
          </div> 
        </div>
      </div>
    </main>

    <!--사이드바 -->
    <div id="page-wrapper">
      <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
          <li class="sidebar-brand">
            <a href="/users" style="font-size: 1.5em;">마이페이지</a>
          </li>
          <br>
          <li><a href="/users/match/${id}" class="underline-on">내 매치글 보기</a></li>
          <li><a href="/users/community/${id}">내 커뮤니티글 보기</a></li>
          <li><a href="/users/question/${id}">내 Q&A 보기</a></li>
          <br>
          <br>
          <br>
        </ul>
      </div>
      <hr class="my-4" style="height: 3px; background-color: #006f3e;">
      
      <div style="margin: 0 auto; width: 90%;">
        <div class="container-fluid p-5">       
          <h2 class="text-center mt-5 fw-bold">내 매치글</h2>
          <div class="container-fluid p-5 me-5 mr-5list-container">
            <div class="card mb-1 p-3" style="border: 3px solid #006f3e;">
              <div class="card-header float-start">매치</div>
              <div class="card-body">
                <table class="table table-hover table-striped">
                  <thead>
                    <tr>
                      <th>번호</th>
                      <th>모집 상태</th>
                      <th>매치일</th>
                      <th>운동종목</th>
                      <th>제목</th>
                      <th>작성일</th>
                    </tr>
                  </thead>
                  <tbody id="matchTableBody">
                  <!-- 여기에 게시글 목록이 추가됨 -->
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- 페이지네이션 -->
      <div class="pagination justify-content-center" id="pagination" >
        <!-- 여기에 페이지 버튼들이 추가  -->
      </div>
      <br>
      <br>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  
    <script>
      document.addEventListener('DOMContentLoaded', function() {
        checkAuthentication(); // 페이지 로드 시 토큰 확인
      });

      // 사용자의 인증 여부를 확인하는 함수
      function checkAuthentication() {
        const token = sessionStorage.getItem('토큰');

        if (!token) {
          // 토큰이 없으면 로그인 화면으로 리다이렉트
          alert('로그인이 필요합니다.');
          window.location.href = '/users/login'; // 로그인 화면으로 리다이렉트
        }
      }

      const tbody = document.getElementById('matchTableBody');
      const paginationDiv = document.getElementById('pagination');

      //페이지네이션
      const ITEMS_PER_PAGE = 10;

      function createPaginationButtons(totalPages, currentPage) {
        paginationDiv.innerHTML = ''; // 이전 버튼 초기화

        const prevButton = document.createElement('button');
        prevButton.innerHTML = `
          <span aria-hidden="true">&laquo;</span>
          <span class="visually-hidden">Previous</span>
        `;
        prevButton.classList.add('btn', 'btn-outline-secondary', 'me-2');
        prevButton.addEventListener('click', () => {
          if (currentPage > 1) {
            fetchDatamatch(currentPage - 1);
          }
        });
        paginationDiv.appendChild(prevButton);

        for (let i = 1; i <= totalPages; i++) {
          const pageButton = document.createElement('button');
          pageButton.innerText = i;
          pageButton.classList.add('btn', 'btn-outline-secondary', 'me-2');
          if (i === currentPage) {
            pageButton.classList.add('btn-custom');
          }
          pageButton.addEventListener('click', () => {
            fetchDatamatch(i);
          });
          paginationDiv.appendChild(pageButton);
        }

        const nextButton = document.createElement('button');
        nextButton.innerHTML = `
          <span aria-hidden="true">&raquo;</span>
          <span class="visually-hidden">Next</span>
        `;
        nextButton.classList.add('btn', 'btn-outline-secondary');
        nextButton.addEventListener('click', () => {
          if (currentPage < totalPages) {
            fetchDatamatch(currentPage + 1);
          }
        });
        paginationDiv.appendChild(nextButton);
      }

      function fetchDatamatch(page) {
        const token = sessionStorage.getItem('토큰'); 
        
        fetch("/users/getid", {
          method: 'GET',
          headers: {
            'authorization': `${token}`,
            'Content-Type': 'application/json'
          },
        })
        .then(response => { return response.json() })
        .then(data => { 
          const userid = data.user_id;

          fetch(`/match/list/` + userid + `?page=${page}`)
          .then(response => response.json())
          .then(data => {
            tbody.innerHTML = ''; // 테이블 초기화

            data.boards.forEach((matches, index) => {
              const row = document.createElement('tr');
              const matchDate = new Date(matches.matchDate).toLocaleDateString();
              const createDate = new Date(matches.createdAt).toLocaleDateString();
              row.innerHTML = `
                <td>${index + 1}</td>
                <td>${matches.state}</td>
                <td>${matchDate}</td>
                <td>${matches.sport}</td>
                <td>${matches.title}</td>
                <td>${createDate}</td>
              `;
              row.addEventListener('click', () => {
                // 글 상세 페이지로 이동
                window.location.href = `/match/read/${matches._id}`;
              });
              tbody.appendChild(row);
            });

            createPaginationButtons(data.totalPages, data.currentPage);
          })
          .catch(error => console.error('Error:', error));
        })
        .catch(error => console.error('Error:', error));
      }

      // 초기 데이터 로딩
      fetchDatamatch(1);
      
      //사이드바 높이 동적으로 조절
      function setSidebarHeight() {
        const sidebar = document.getElementById('sidebar-wrapper');
        const windowHeight = window.innerHeight;
        const newHeight = windowHeight + 120; // 현재 창 높이에 500px 추가
        sidebar.style.height = newHeight + 'px';
      }

      window.addEventListener('DOMContentLoaded', setSidebarHeight);
      window.addEventListener('resize', setSidebarHeight);
    </script>
  </body>
</html>