<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/index_style.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"/>
    <title>PangPang</title>
    <script>      
      fetch('/navbar')
            .then(response => response.text())
            .then(data => {
                document.getElementById("content").innerHTML = data;
                // navbar.html이 로딩된 후에 버튼 상태를 확인하고 로그인/로그아웃 버튼을 제어하는 스크립트를 추가합니다.
                const token = sessionStorage.getItem('토큰');
                if (token) {
                    document.getElementById("logoutButton").style.display = "block";
                } else {
                    document.getElementById("logoutButton").style.display = "none";
                }
            })
            .catch(error => console.error('Error:', error));
    </script>
    <style>
      /* 셀에 선을 추가하고 간격을 조정합니다. */
      td {
        padding: 8px; /* 내용과의 간격을 조정합니다 */
        padding-left: 20px; 
      }
    
      /* 제목 셀의 스타일 */
      th {
        
        font-weight: bold; /* 텍스트를 굵게 설정 */
        text-align: center; /* 텍스트 가운데 정렬 */
      }
    </style>
  </head>

  <body>
    <!-- 네비게이션바 -->
    <div id='content'></div>
    
    <!--빵 부스러기 (Breadcrumb)-->
    <main class="mt-3 pt-1">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <i class="bi bi-house-fill"> > 매치 > 전체 매치</i>
          </div> 
        </div>
      </div>
    </main>

    <!--사이드바 -->
    <div id="page-wrapper">
      <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
          <li class="sidebar-brand">
            <a href="/match" style="font-size: 1.5em;">매치 </a>
          </li>
          <li><a href="/match" class="underline-on">전체 매치</a></li>
          <li><a href="/match/write">매치 게시물 작성</a></li>
          <li><a href="/info/stadium">경기장 정보</a></li>
        </ul>
      </div>
      <hr class="my-4" style="height: 3px; background-color: #006f3e; ">
      
    <!--매치글 조회-->
    <div class="container" style="margin: 0 auto; width: 65%;">
      
      <div class="row">
        <div class="col">
            <table class="table table-condensed">
              
                    <span style='float:right'>
                        <a href="/match" class="btn btn-success">목록</a>
                        <a id="editButton" class="btn btn-success">수정</a>
                        <a href="/match/delete" class="btn btn-success">삭제</a>
                        <a href="/match/write" class="btn btn-success">글쓰기</a>
                    </span>
            </table>
            <hr style="border: solid #006f3e;"/>
        </div>
      </div>
      <table class="table table-condensed" >
          <thead>
            <tr>
              <th>제목</th>
              <td>{{match.title}}</td>
            </tr>
          </thead>
          <tbody>
            
            <tr>
              <th>작성자</th>
              <td>{{match.writer}}</td>
            </tr>
            <tr>
              <th>종목</th>
              <td>{{match.sport}}</td>
            </tr>
            <tr>
              <th>매치날짜</th>
              <td>{{match.matchDate}}</td>
            </tr>
            <tr>
              <th>장소</th>
              <td>{{match.location}}</td>
            </tr>
            <tr>
              <th>모집인원</th>
              <td>{{match.people}}</td>
            </tr>
            <tr>
              <th>참가비</th>
              <td>{{match.price}}</td>
            </tr>
            <tr>
              <th>성별</th>
              <td >{{match.gender}}</td>
            </tr>
            <tr>
              <th>내용</th>
              <td style="height: 200px; overflow: auto;">{{match.content}}</td>
            </tr>
            <tr>
              <th>작성일</th>
              <td>{{match.createdAt}}</td>
            </tr>
            
          </tbody>
        </table>
        <hr style="border: solid #006f3e;"/>
        <br/>
        
        <div id="form-commentInfo" style="text-align: center;">
          <input id="comment-input" placeholder="댓글을 입력해 주세요.">
          <button id="commentSubmit" class="btn btn-success">등록</button>
          <br/>
        </div>
        <br/>
        <br/>
        <br/>
        <div id="comment-count" style="width:100%">댓글 <span id="count"></span></div>
        
        
        <table class="table" style="text-align: center;">
          <thead>
            <hr>
            <tr>
              <th scope="col">댓글 내용</th>
              <th scope="col">작성자</th>
            </tr>
          </thead>
          <tbody id="showcomment"></tbody>
        </table>
        <hr/>
    </div> 
    <br/>  
    <br/> 
    <br/> 
    <br/> 
    <br/>  

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <script>
      document.addEventListener('DOMContentLoaded', function () {
        checkAuthentication(); // 페이지 로드 시 토큰 확인
        getComment(); // 페이지 로드 시 댓글 로드

        // 매치 ID를 가져와서 수정 버튼의 href 속성을 설정
        const matchId = window.location.pathname.split('/').pop();
        const editButton = document.getElementById('editButton');
        if (editButton) {
          editButton.href = `/match/edit/${matchId}`;
        }
      });

      // 사용자의 인증 여부를 확인하는 함수
      function checkAuthentication() {
        const token = sessionStorage.getItem('토큰');

        if (!token) {
          // 토큰이 없으면 로그인 화면으로 리다이렉트
          alert('로그인이 필요합니다.');
          window.location.href = '/users/login'; // 로그인 화면으로 리다이렉트
        }
      }

      // 댓글 쓰기
      document.getElementById('commentSubmit').addEventListener('click', () => {
        const token = sessionStorage.getItem('토큰');
        const comment = document.getElementById('comment-input').value;
        const matchId = window.location.pathname.split('/').pop();

        if (comment === '') {
          alert('댓글을 입력해 주세요.');
          return;
        }
        
        fetch("/users/getid", {
          method: 'GET',
          headers: {
            'authorization': `${token}`,
            'Content-Type': 'application/json'
          },
        })
        .then(response => response.json())
        .then(data => { 
          const writer = data.user_id; // 작성자
          const commentdata = {comment, matchId, writer};

          fetch('/comment/', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json',
            },
            body: JSON.stringify(commentdata),
          })
          .then(response => { return response.json() })
          .then(data => { 
            if (data.success) {
              alert('댓글이 등록되었습니다.');
              location.reload();
            } else {
              alert('댓글 등록에 실패하였습니다.');
            }
          })
          .catch((error) => {
            console.error('Error:', error);
          });
        })
        .catch(error => console.error('Error:', error));
      });
    
      function getComment() {
        const matchId = window.location.pathname.split('/').pop();

        fetch('/comment/' + matchId, {
          method: 'GET',
          headers: {
            'Content-Type': 'application/json',
          },
        })
        .then(response => { return response.json() })
        .then(data => { 
          if (data.success) {
            const comments = data.comments;
            const count = comments.length;
            document.getElementById('count').innerText = count;

            const showcomment = document.getElementById('showcomment'); 
            showcomment.innerHTML = ''; // 기존 리스트 초기화

            comments.forEach(comment => {
              const row = document.createElement('tr');

              const commentCell = document.createElement('td');
              commentCell.textContent = comment.comment;
              row.appendChild(commentCell);

              const writerCell = document.createElement('td');
              writerCell.textContent = comment.writer;
              row.appendChild(writerCell);

              showcomment.appendChild(row);
              
            });
          } else {
            alert('댓글 로드에 실패하였습니다.');
          }
        })
        .catch((error) => {
          console.error('Error:', error);
        });
      }

    </script>
  </body>
</html>