<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/stylesheets/index_style.css"/>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"/>
  <style>
    /* 기본 글자 색상 */
    .btn-outline-success {
      color: #006f3e;
      border-color: #006f3e;
    }
  
    /* 클릭 시 글자 색상 */
    .btn-check:checked + .btn-outline-success, 
    .btn-outline-success.active {
      color: #ffffff; /* 변경할 색상 */
      background-color: #006f3e; /* 변경할 배경 색상 */
      border-color: #006f3e; /* 변경할 테두리 색상 */
    }
  </style>
  <script>      
    fetch('/navbar')
          .then(response => response.text())
          .then(data => {
              document.getElementById("content").innerHTML = data;
              // navbar.html이 로딩된 후에 버튼 상태를 확인하고 로그인/로그아웃 버튼을 제어하는 스크립트를 추가합니다.
              const token = sessionStorage.getItem('토큰');
              if (token) {
                  document.getElementById("logoutButton").style.display = "block";
              } else {
                  document.getElementById("logoutButton").style.display = "none";
              }
          })
          .catch(error => console.error('Error:', error));
  </script>

  <title>매치 글 작성</title>
</head>
<body>
  <!-- 네비게이션바 -->
  <div id='content'></div>

  <!--빵 부스러기 (Breadcrumb)-->
  <main class="mt-3 pt-1">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">         
          <i class="bi bi-house-fill"> > 매치 > 매치 게시물 작성</i>
        </div> 
      </div>
    </div>
  
  </main>

  <!--사이드바 -->
  <div id="page-wrapper">
    <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <li class="sidebar-brand">
          <a href="/match" style="font-size: 1.5em;">매치</a>
        </li>
        <br>
        <li><a href="/match">전체 매치</a></li>
        <li><a href="/match/write" class="underline-on">매치 게시물 작성</a></li>
        <li><a href="/info/stadium">경기장 정보</a></li>
      </ul>
    </div>
    <hr class="my-4" style="height: 3px; background-color: #006f3e;">

  <div class="container">
    <div class="header">
      <h2 class="text-center mt-5 fw-bold ">매치글 작성</h2>
    </div>
    <div class="warning " style="margin: 0 250px;">
        <h3 class="mt-5 fw-bold ">주의 사항</h3>
        <br>팡팡은 누구나 기분 좋게 참여할 수 있는 커뮤니티를 만들기 위해 
        <br>커뮤니티 이용규칙을 제정하여 운영하고 있습니다. 
        <br>위반 시 게시물이 삭제됩니다.
        <br>아래는 이 게시판에 해당하는 핵심 내용입니다.
        <br>1. 게시물에 대한 권리와 책임은 게시물을 등록한 회원에게 있습니다.
        <br>2. 게시물은 타인의 명예를 훼손하는 내용을 포함할 수 없습니다.
        <br>3. 게시물은 타인의 권리를 침해하거나 불쾌감을 주는 게시물은 작성할 수 없습니다.
        <br>4. 게시물은 정치와 관련된 내용을 표함할 수 없습니다.
        <br>위 내용을 확인하셨으면 체크 박스를 클릭해주세요.

        <div class="checkbox-wrapper">
            <input type="checkbox" id="agree" value="agree" required>
            <label for="agree">위 사항을 모두 확인했습니다.</label>
        </div>
    </div>
    <br/>
    <br/>
    <div class="write" style="margin: 0 250px;">
      <form action="/match/write" method="post">
              
        <input type="text" id="title" name="title" placeholder="제목" required>
        <input type="text" id="sport" name="sport" placeholder="종목" required>
        <input type="text" id="location" name="location" placeholder="장소" required>
        <input type="datetime-local" id="time" placeholder="시간" required>
        <input type="number" id="fee" placeholder="참가비" required>   
        <input type="number" id="people" placeholder="모집 인원" required>

        <input type="radio" class="btn-check" name="options-outlined" id="male" value="male" autocomplete="off">
        <label class="btn btn-outline-success" for="male" value="male">남자</label>

        <input type="radio" class="btn-check" name="options-outlined" id="female" value="female" autocomplete="off">
        <label class="btn btn-outline-success" for="female" value="female">여자</label>

        <input type="radio" class="btn-check" name="options-outlined" id="irrelevant" value="irrelevant" autocomplete="off">
        <label class="btn btn-outline-success" for="irrelevant" value="irrelevant">성별 무관</label>

        <textarea id="description" name="description" rows="4" placeholder="상세 설명" required></textarea>
      
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <button value='findsportmate' type="submit">글 작성</button>
          <button type="reset" onclick="window.location.href='/match'">취소</button> 
        </div>
        
    </form>
    </div> 
  </div>
  <br/>
  <br/>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
            checkAuthentication(); // 페이지 로드 시 토큰 확인
    });

    // 사용자의 인증 여부를 확인하는 함수
    function checkAuthentication() {
      const token = sessionStorage.getItem('토큰');

      if (!token) {
        // 토큰이 없으면 로그인 화면으로 리다이렉트
        alert('로그인이 필요합니다.');
        window.location.href = '/users/login'; // 로그인 화면으로 리다이렉트
      }
    }

    document.querySelector('button[value="findsportmate"]').addEventListener('click', function(event) {
      event.preventDefault(); // 기본 동작 방지

      const agreeCheckbox = document.getElementById('agree');

      if (!agreeCheckbox.checked) {
        alert('주의 사항에 동의해야만 제출이 가능합니다.');
        return false;
      } else {
        const title = document.getElementById('title').value;
        const sport = document.getElementById('sport').value;
        const location = document.getElementById('location').value;
        const time = document.getElementById('time').value;
        const fee = document.getElementById('fee').value;
        const people = document.getElementById('people').value;
        const description = document.getElementById('description').value;
        const gender = document.querySelector('input[name="options-outlined"]:checked').value;

        const token = sessionStorage.getItem('토큰'); 

        fetch('/match/write', {
          method: 'POST',
          headers: {
            'authorization': `${token}`,
            'Content-Type': 'application/json',
          },
          body: JSON.stringify({ title, sport, location, time, fee, people, description, gender })
        })
        .then(response => { return response.json(); })
        .then(data => {
          if (data.success) {
            alert('매치 글 작성이 완료되었습니다.');
            window.location.href = '/match';
          }
        })
        .catch(error => {
          console.error('에러가 발생했습니다.:', error);
        });        
      }
    });
    
  </script>
  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>
